@import "../assets/mixins.scss";
@import "../assets/normalize.scss";

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  min-width: 225px;
  max-width: 300px;
  font-weight: 700;
  font-size: 15px;
  line-height: 1.3;
  color: #fff;
  transition: background-color 0.2s;
  cursor: pointer;
  border: none;

  &_primary {
    background-color: #c36839;
    &:hover,
    &:focus {
      background-color: #bb7a59;
    }
    &:active {
      background-color: #6b412b;
    }
  }

  &_alert {
    background-color: #f23f08;
    &:hover {
      background-color: #e9663e;
    }

    &:active,
    &:focus {
      background-color: #982f0f;
    }
  }

  span {
    position: relative;
    z-index: 5;
  }

  &_o {
    border: 2px solid transparent;

    &:active,
    &:focus {
      color: #008bb8;
      border-color: #008bb8;
    }

    &:hover {
      color: #0ba3d3;
      border-color: #0ba3d3;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

h3,
h2,
p {
  padding: 0;
  margin: 0;
}

.link {
  font-size: 16px;
  color: #fff;
  text-decoration: underline;
  transition: color 0.3s;
  &:hover {
    color: #008bb8;
  }
  &:active {
    color: #036282;
  }
}
